//***=== FONTS ===***//
$default-fonts: Arial, sans-serif

+font(PTSans-Regular, PTSans-Regular)
+font(PTSans-Bold, PTSans-Bold)
+font(PTSans-BoldItalic, PTSans-BoldItalic)
+font(GothamPro-Bold, GothamPro-Bold)

=PTSans-Regular
	font-family: PTSans-Regular, $default-fonts

=PTSans-Bold
	font-family: PTSans-Bold, $default-fonts

=PTSans-BoldItalic
	font-family: PTSans-BoldItalic, $default-fonts

=GothamPro-Bold
	font-family: GothamPro-Bold, $default-fonts

// default transition

=trs
	transition: .3s ease-in

body
	font-size: 14px
	line-height: 1.2
	+PTSans-Regular

// common blocks

.container
	max-width: 1200px
	margin: 0 auto
	padding: 0 15px
	+clr

.btn
	padding: 14px 21px
	color: #fff
	background-color: #ef7f1a
	font-size: 16px
	outline: none
	border-radius: 10px
	text-decoration: none
	text-transform: uppercase
	+trs
	&:hover
		background-color: #ea5b21
	&:active
		background-color: #c75527

h2
	font-size: 30px
	text-align: center
	+GothamPro-Bold

.sect__descr
	font-size: 24px
	+PTSans-Regular
